* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.body-container {
  display: grid;
  grid-template-columns: 1fr 4.5fr;
  height: 92vh;
}

.search-container {
  position: absolute;
  width: 500px;
  z-index: 5;
  max-height: 250px;
  overflow-y: scroll;
}

.search-container::-webkit-scrollbar {
  display: none;
}

.search-container div:hover {
  background-color: #6998ab;
  color: white;
}

.search-item {
  position: relative;
  background-color: rgb(236, 236, 236);
  color: black;
  padding: 10px;
  border: 0.5px rgb(188, 188, 188) solid;
  cursor: pointer;
}

.threads {
  background-color: #1a374d;

  color: rgb(236, 236, 236);
}

.threads-buttons button {
  display: flex;
  width: 100%;
  padding: 10px 20px;
  column-gap: 10px;
  border: none;
  background-color: rgb(220, 219, 219);
  font-size: 18px;
}

.threads-buttons-clicked {
  background-color: white;
}

.threads-buttons-NOTclicked {
  background-color: #ccc;
}

.threads-buttons button:hover {
  cursor: pointer;
  background-color: #fff;
}



.direct-sms-users i {
  text-align: center;
}

/* .direct-sms-users i {
  visibility: hidden;
  opacity: 0;
} */

.direct-sms-users i:hover {
  color: rgb(189, 3, 3);
}

.names-channel ul li {
  font-size: 10px;
  list-style: none;
  background-color: #1a374d;
  cursor: pointer;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  padding: 10px;
  color: white;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 200px;
}


.new-direct-messages {
  display: flex;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
}


.direct-message-channel ul li {
  list-style: none;
  background-color: #1a374d;
  cursor: pointer;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 200px;
  color: white;
  display: flex;
  justify-content: flex-start;
}



.direct-message-channel i {
  color: #6998ab;
}

.direct-message-channel i:hover {
  color: rgb(192, 1, 1);
}

.direct-message-channel ul::-webkit-scrollbar,
.names-channel ul::-webkit-scrollbar,
.all-users-channel ul::-webkit-scrollbar {
  display: none;
}


.all-users-channel ul li {
  color: black;
  font-size: 10px;
  list-style: none;
  background-color: #1a374d;
  cursor: pointer;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  padding: 10px 20px;
  color: white;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.new-channel-messages {
  display: flex;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
}

.new-channel-messages i {
  color: #6998ab;
}

.new-channel-messages i:hover {
  color: rgb(189, 3, 3);
}

.all-users-channel ul li:hover {
  background-color: #6998ab;
}

.channel-names-not-clicked {
  position: absolute;
  transform: scaleY(0);
  transform-origin: top;
  width: 100%;
  transition: 0.5s;
}

.channel-names-clicked {
  transform: scaleY(1);
  transition: 0.5s;
}

.message-window {
  background-color: #f3f2f0;
  position: relative;
}

.new-message {
  display: flex;
  display: block;
  margin-left: 30px;
  background-color: white;
  justify-content: flex-end;
  position: absolute;
  bottom: 0;
  left: 0;
  margin-bottom: 40px;
  padding: 20px 10px;
  border-radius: 10px;
}

/* .asdfasd {
    
} */

.new-message textarea {
  background-color: #ffff;
  outline: none;
  text-align: left;
  box-sizing: border-box;
  width: 1000px;
  height: 70px;
  padding: 12px 10px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 7px;
  font-size: 20px;
}

.new-message textarea::-webkit-scrollbar {
  display: none;
}

.new-message input::placeholder {
  font-size: 15px;
}

.options-icons {
  position: relative;
}

.options-icons button {
  display: flex;
  column-gap: 10px;
  background-color: none;
  outline: none;
  background: none;
  border: none;
  font-size: 18px;
  margin-top: 10px;
  color: #1a374d;
}

.options-icons button:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.options-icons {
  display: flex;
  column-gap: 20px;
  margin-top: 10px;
  align-items: center;
}

.top-body-section {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  border-bottom: 1px solid #1a374d;
  text-align: center;
  align-items: center;
}

.name-converse button {
  font-size: 20px;
  padding: 5px;
  border: none;
}

.name-converse button:hover {
  background-color: #6998ab;
  border-radius: 5px;
  transform: scale(1.01);
  transition: 0.3s;
  color: white;
}

.conversation {
  margin: 10px 30px;
  display: flex;
  flex-direction: column;
  height: 390px;
  /* justify-content: flex-end; */
  overflow: hidden;
  overflow-y: scroll;
  transform: scale(1, -1);
  padding-right: 0px;
}

.conversation::-webkit-scrollbar {
  display: none;
}

.converse-chats {
  transform: scale(1, -1);
}

.conversation:hover {
  cursor: pointer;
}

.conversation div i {
  color: #6998ab;
}

.message-sender-name,
.message-receiver-name {
  margin: 10px 20px;
}

.sender-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.sender-chat {
  padding: 8px 6px;
  color: #fff;
  background-color: #6998ab;
  display: table;
  border-radius: 8px;
  margin-right: 60px;
}

.receiver-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.receiver-chat {
  background-color: #ccc;
  color: black;
  padding: 8px 6px;
  display: table;
  border-radius: 8px;
  margin-left: 60px;
}

.new-chat-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.new-chat-btn button {
  color: #1a374d;
  font-size: 25px;
  column-gap: 25px;
  margin-right: 20px;
  display: flex;
  text-align: center;
  border: none;
}

/* .new-chat-btn i {
  padding: 5px 5px;
  background-color: #6998ab;
  color: white;
  border-radius: 5px;
} */

/*
.name-converse {
    display: flex;
    justify-content: flex-start;
    margin-top: 30px;
    margin-right: 30px;
    font-size: 30px;
    color: #6998AB;
} */

.new-chat-btn i:hover {
  transform: scale(1.1);
}

.send-button {
  display: flex;
  position: absolute;
  right: 20px;
  cursor: pointer;
  align-self: center;
}

.send-button i {
  font-size: 30px;
}
