* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;;
}


.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;    
}

.form-name {
    margin-bottom: 40px;
    color: #fff;
    font-weight: 300;
    font-size: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
 
}

 
.form-container {
    display: flex;
    width: 350px;
    justify-content: center;
    height: 400px;
    background-color: #1A374D;
    border-radius: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.inner-form {
    margin: 20px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.top-credentials {
    color: white;
    font-size: 13px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 5px;
}

.top-credentials i {
    font-size: 10px;
}

.login-email input {
    background-color: #fff;
    outline: none;
    text-align: center;
    box-sizing: border-box;
    width: 250px;
    padding: 8px 5px;
    display: inline-block;
    border-radius: 5px;
    font-size: 15px;
    margin-bottom: 15px;
}

.login-password input {
    background-color: #fff;
    outline: none;
    text-align: center;
    box-sizing: border-box;
    width: 250px;
    padding: 8px 5px;
    display: inline-block;
    border-radius: 5px;
    font-size: 15px;
    margin-bottom: 2px;
}


/* .login-password i {
    color: black;
    position: absolute;
    z-index: 1;
    left: 10px;
    top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
} */

.login-email-input::placeholder, .login-password-input::placeholder {
    font-size: 13px;
}

.create-submit-button {
    color: #fff;
    outline: none;
    border: none;
    font-weight: 590;
    background-color: transparent;
    margin-top: 0;
    border-bottom: 2px dotted #1A374D;
    display: flex;
}

.create-submit-button i {
    display: flex;
    margin-left: 5px;
    align-self: center;
}



.create-submit-button:hover {
    border-bottom: 2px dotted white;
    transition: .5s ease-in-out;
}

.login-submit-button:hover {
    background-color: rgb(230, 229, 229);
}

.loginCreate {
    display: flex;
    justify-content: center;
    margin-top:20px;
}


 .loginCreate button {
    width: 100px;
    background-color: white;
    padding: 6px 6px;
    border-radius: 5px;
    font-weight: 500;
}